@model List<SaafiLogistics.Models.Load>
<h1>@ViewBag.title</h1>
<h3>@ViewBag.loads.Count Result(s)</h3>
<h1>@ViewBag.Title</h1>

@if (Model.Count == 0)
{
    <p>No Loads yet!</p>
}
<h2> Model.Count Result(s)</h2>
 <table class="table table-striped">

         <tr>
             <th>Date</th>
             <th>Number</th>
             <th>Description</th>
             <th>Owner</th>
             <th>Pay</th>
             <th>Advance</th>
             <th>Net</th>

         </tr>
         @foreach (var loads in Model)
         {



                 <tr class="table table-striped">
                     <td>
                         <a asp-controller="List" asp-action="Values" asp-route-column="@loads.Date" asp-route-value="@loads.Date"></a>
                     </td>


                     <td>
                         <a asp-controller="List" asp-action="Values" asp-route-column="@loads.Number" asp-route-value="@loads.Number"></a>
                     </td>
                     <td>
                         <a asp-controller="List" asp-action="Values" asp-route-column="@loads.Description" asp-route-value="@loads.Description"></a>
                     </td>
                     <td>
                         <a asp-controller="List" asp-action="Values" asp-route-column="@loads.Owner" asp-route-value="@loads.Owner"></a>
                     </td>
                     <td>
                         <a asp-controller="List" asp-action="Values" asp-route-column="@loads.Pay" asp-route-value="@loads.Pay"></a>
                     </td>
                     <td>
                         <a asp-controller="List" asp-action="Values" asp-route-column="@loads.Advance" asp-route-value="@loads.Advance"></a>
                     </td>
                     <td>
                         <a asp-controller="List" asp-action="Values" asp-route-column="@loads.Net" asp-route-value="@loads.Net"></a>
                     </td>




                 <td class="align-right">
                     <form method="post">
                         <input name="name" type="checkbox" value="load" />
                         <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Remove</button>
                     </form>
                 </td>
                 </tr>

             }


         }
     </table>



<p><a asp-controller="Load" asp-action="Add">Add Load</a></p>
